<div class="container mt-5">
    <h2>{{header}}</h2>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel]="patient.id" name="id">
        </div>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" [ngModel]="patient.name" name="name">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [ngModel]="patient.email" name="email">
        </div>

        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" [ngModel]="patient.Phone" name="Phone">
        </div>

        <div class="form-group">
            <button type="submit" >Save</button>
        </div>
    </form>
</div>
